body {
  background-color: #3b9eff;
}

h1 {
  font-size: 28px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 200px;
  text-align: center;
  color: #fff2f2;
}

h2 {
  font-size: 25px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 200px;
  color: #fff2f2;
}

p {
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  /* color: #ecf4d6; */
  color: #ffffff;
}
